.section-block {}

.section-block-title {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
  color: white;
  background: @color-green-darker url(../img/emblem-fade.png) center center no-repeat;
  background-size: contain;
  text-transform: uppercase;
  margin: 2em 0 4em 0;

  h1, h2, h3 {
    font-weight: 700;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    line-height: 1.4;
  }
}

.icon-lg {
  font-size: 4em;
  color: @color-green-light;
}