.hero

section.section-block
  .section-block-title
    h2 Contact Us
  .container
    .row
      .col-sm-4.col-sm-offset-2
        img(src='//placehold.it/240x300', alt='')
      .col-sm-4
        h3 Damon Kittles, Owner
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem omnis, praesentium non atque esse, repellat. 