.container
  .text-center
    h2 Our Services
  .row
    .col-sm-4
      ul
        li Design 
        li Consultation
        li Lawn Maintenance
        li Stonework and Boulders
        li Retaining Walls
        li Patios
        li Erosion Control
        li Water Features
    .col-sm-4
      ul
        li Irrigation
        li Hydro-Seeding
        li Arobrs, Decks, and Fences
        li Trees and Shrubs
        li Gardens
        li Lighting
        li Fountains
        li Brick Pavings
    .col-sm-4
      .panel.panel-default
        .panel-body
          .text-center
            p.icon-lg: i.fa.fa-phone-square
            p 
              | Call now for a 
              br
              strong Free Consultation
            p: a(href='tel:#{ site.phone }')= site.phone
          

.divider

.text-center
  h2 See Our Work
.container-fluid
  each img in works
    .row
      .col-xs-8.col-xs-offset-2
        .thumbnail
          img.img-responsive(src='/img/work/#{ img.filename }', alt='')
          .caption.text-center= img.caption